@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

.assigned {
  border-color: #e14d59;
  width: 33%rem;
}

.in-progress {
  border-color: #fdc960;
  width: 33%rem;
}

.completed {
  border-color: #00d998;
  width: 33%rem;
}

.bg-primary {
  background-color: #c0ebf5 !important;
}

.assignInfo {
  font-size: 14px;
  color: rgb(143, 141, 141);
  font-family: "Roboto", sans-serif;
}

.task-count-circle {
  min-width: 30px;
  padding: 0 5px;
  height: 30px;
  background: #e14d59 0% 0% no-repeat padding-box;
  border-radius: 68px;
  opacity: 1;
  justify-content: center;
  color: #ffffff !important;
  font-weight: 500;
  line-height: 30px;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin-left: 4px;
}

.addTask {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

.select-employee {
  width: 23rem;
}

.select-employee__value-container {
  height: 3rem;
}

.add-description {
  border-radius: 8px;
}

.add-task-btn {
  margin-left: 50rem;
}

.plus-icon {
  min-width: 35px;
  padding: 0 5px;
  height: 35px;
  background: #e14d59 0% 0% no-repeat padding-box;
  border-radius: 50%;
  opacity: 1;
  justify-content: center;
  color: #ffffff !important;
}
.plus-icon-text {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin-left: 4px;
}

.users-count-text {
  display: flex;
  align-items: center;
}

.task-status {
  padding-right: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.user-name {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.add-user-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-info {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.btn {
  margin-left: auto;
}

.modal-text {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  margin-top: 8rem;
}

.Toastify__toast--success {
  background: #00d998 !important;
}

.modal-style {
  width: 40rem;
  max-width: 40rem;
}

.add-media {
  border-radius: 8px;
  cursor: pointer;
  width: 112vh;
  height: 7rem;
  text-align: center;
  padding-top: 2.5rem;
}
